opentelemetry-api==1.19
opentelemetry-exporter-otlp==1.19.0
opentelemetry-exporter-otlp-proto-grpc==1.19
opentelemetry-instrumentation==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.40b0
opentelemetry-instrumentation-asgi==0.40b0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-instrumentation-httpx==0.40b0
opentelemetry-instrumentation-logging==0.40b0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-instrumentation-system-metrics==0.40b0
opentelemetry-instrumentation-urllib==0.40b0
opentelemetry-instrumentation-urllib3==0.40b0
opentelemetry-instrumentation-wsgi==0.40b0
opentelemetry-sdk==1.19
